#modal{
    width: 450px;
    position:absolute;
}

.form{
    width: 100%;
    height: 450px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 64px 32px 32px 32px;
    gap: 32px;

    background: rgba(255, 255, 255, 0.60);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.nueva-h1 {
    text-align: center;
}

