.add-btn{
    position: sticky;
    bottom: 8px;
    right: 8px;
    font-size: 48px;
    font-weight: 700;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    background: #34e065;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(47, 47, 47, 0.27);

}

.add-btn:hover {
    transition: transform .3s ease-in-out;
    transform: rotate(90deg)
                scale(1.3);
    background-color: #34e065;
    font-size: 64px;
    cursor: pointer;
}

.add-btn--selected{
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: 48px;
    font-weight: 700;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotate(45deg);

    background: #2f2f2f;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(47, 47, 47, 0.27);

}


@media (min-width:1000px) {
    .add-btn--selected:hover {
        transition: transform .3s ease-in-out;
        transform:  scale(1.3);
        background-color: grey;
        font-size: 64px;
        cursor: pointer;
    }

}