.item-loading{
    display: flex;
    list-style: none;
    width: 80%;
    align-items: center;
    justify-content: center;
    height: 44px;

    background: rgba(56, 56, 56, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.27);

    animation: loading-skeleton infinite 1s;
}

.item-loading:nth-of-type(2){
    animation-delay:.2s;
}

.item-loading:nth-of-type(3){
    animation-delay:.4s
}


@keyframes loading-skeleton {
    0%, 100% {
      opacity: 100%;
    }
    50%{
      opacity: 0%;
    }
  }