input {
    border: none;
    text-align: center;
    padding: 8px;
    width: 65%;
    margin: 0 0 32px 0;
    border-radius: 12px;
    position: sticky;
    top: 8px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.27);

    font-size: 18px;
    color: black;
    z-index: 2;
}

input::placeholder{
    color: rgb(109, 109, 109);
    opacity: 0.8;
}

input:focus{
    /* outline-color: aqua ; */
    outline: 2px solid var(--green);
}
